/*------------------------------------------------------------------------IMPORTACIÓN DE FUENTES-------------------------------------------------------------------------------*/
@font-face {
    font-family: "BrunoAce";
    src: url("assets/fonts/BrunoAce-Regular.woff2") format("woff2");
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: "FunnelDisplay";
    src: url("assets/fonts/FunnelDisplay-Regular.woff2") format("woff2");
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: "FunnelDisplay";
    src: url("assets/fonts/FunnelDisplay-Bold.woff2") format("woff2");
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: "ShulphurPoint";
    src: url("assets/fonts/SulphurPoint-Regular.woff2") format("woff2");
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: "ShulphurPoint";
    src: url("assets/fonts/SulphurPoint-Light.woff2") format("woff2");
    font-display: swap;
    font-weight: 300;
}

/*------------------------------------------------------------------------VARIABLES GLOBALES-----------------------------------------------------------------------------------*/
:root{
    /*------------------COLORES---------------------------*/

    --color-base: rgb(255,255,255);
    --color-fondo: var(--color-base);
    --color-flechas: var(--color-base);
    --color-sombra-flechas: var(--color-base);
    --color-fondo-navbar: rgb(var(--color-base)/3%);
    --color-iconos-navbar: var(--color-base);
    --color-sombra-iconos-navbar: var(--color-base);
    --color-fondo-configuracion: rgb(var(--color-base)/3%);
    --color-iconos-configuracion: var(--color-base);
    --color-sombra-iconos-configuracion: var(--color-base);
    --color-switch-apagado: rgb(177,177,177);
    --color-switch-encendido: var(--color-base);
    --color-borde-switch: var(--color-base);
    --color-bola-switch: var(--color-base);
    --color-sombra-switch: var(--color-base);
    --color-letras-titulo: var(--color-base);
    --color-letras-subtitulo: var(--color-base);
    --color-letras-contenido: var(--color-base);
    --color-sombra-letras: var(--color-base);
    --color-mascara-foto: rgba(217,217,217,0.6);
    --color-sombra-mascara: var(--color-base);
    --color-fondo-foto: var(--color-base);
    --color-sombra-foto: var(--color-base);
    --color-fondo-cards: rgba(161,161,161,0.25);
    --color-sombra-cards: var(--color-base);
    --color-borde-cards: var(--color-base);
    --color-sombra-borde-cards: var(--color-base);
    --color-fondo-miniaturas: var(--color-base);
    --color-iconos-tecnologias: var(--color-base);
    --color-sombras-iconos-tecnologias: var(--color-base);
    --color-luz-cards: var(--color-base);
    --color-sombra-luz-cards: var(--color-base);
    --color-fondo-stack: rgba(161,161,161,0.25);
    --color-sombra-stack: var(--color-base);
    --color-borde-stack: var(--color-base);
    --color-iconos-stack: var(--color-base);
    --color-sombra-iconos-stack: var(--color-base);
    --color-separador-vertical: var(--color-base);
    --color-fondo-contacto: rgba(161,161,161,0.25);
    --color-sombra-contacto: var(--color-base);
    --color-borde-contacto: var(--color-base);
    --color-sombra-borde-contacto: var(--color-base);
    --color-input: rgb(164,164,164);
    --color-sombra-input: var(--color-base);
    --color-borde-input: var(--color-base);
    --color-sombra-borde-input: var(--color-base);
    --color-boton-enviar: rgba(161,161,161,0.25);
    --color-sombra-boton-enviar: var(--color-base);
    --color-borde-boton-enviar: var(--color-base);
    --color-sombra-borde-boton-enviar: var(--color-base);
    --color-luz-boton-enviar: var(--color-base);
    --color-sombra-luz-boton-enviar: var(--color-base);
    --color-iconos-contacto: var(--color-base);
    --color-sombra-iconos-contacto: var(--color-base);
    --color-fondo-pie: rgb(var(--color-base)/3%);
    --color-legal-pie: var(--color-base);
    --color-sombra-legal-pie: var(--color-base);
    --color-iconos-pie: var(--color-base);
    --color-sombra-iconos-pie: var(--color-base);
    --color-modal: rgba(161,161,161,0.25);
    --color-navbar-modal: rgb(var(--color-base)/3%);
    --color-enlaces-modal: var(--color-base);
    --color-sombra-enlaces-modal: var(--color-base);
    --color-boton-modal: rgb(164,164,164);
    --color-sombra-boton-modal: var(--color-base);

    /*------------------TAMAÑOS---------------------------*/

    --tamano-flechas: 60px;
    --tamano-icono-navbar: 48px;
    --tamano-icono-configuracion: 48px;
    --tamano-largo-switch: 40px;
    --tamano-alto-switch: 24px;
    --tamano-icono-tecnologias: 24px;
    --tamano-luz: 3px;
    --tamano-punto-stack: 15px;
    --tamano-icono-stack: 32px;
    --tamano-largo-boton-enviar: 150px;
    --tamano-alto-boton-enviar: 50px;
    --tamano-icono-contacto: 32px;
    --tamano-largo-icono-accesibilidad: 88px;
    --tamano-alto-icono-accesibilidad: 31px;
    --tamano-boton-modal: 40px;

    /*------------------TEXTOS---------------------------*/

    --texto-pequeno: 0.75rem;
    --texto-contenido: 1rem;
    --texto-subtitulo: 1.5rem;
    --texto-titulo: 2rem;

    /*------------------ESCALAS---------------------------*/

    --escalado-pequeno: 1.05;
    --escalado-medio: 1.1;
    --escalado-grande: 1.2;

    /*------------------RADIOS---------------------------*/

    --radio-mediano: 10px;
    --radio-grande: 20px;

    /*------------------MODO CLARO---------------------------*/
    
    &[data-theme="claro"]{
        --color-base: rgb(59,59,59);
        --color-fondo: var(--color-base);
        --color-flechas: var(--color-base);
        --color-sombra-flechas: var(--color-base);
        --color-fondo-navbar: rgb(var(--color-base)/3%);
        --color-iconos-navbar: var(--color-base);
        --color-sombra-iconos-navbar: var(--color-base);
        --color-fondo-configuracion: rgb(var(--color-base)/3%);
        --color-iconos-configuracion: var(--color-base);
        --color-sombra-iconos-configuracion: var(--color-base);
        --color-switch-apagado: rgb(177,177,177);
        --color-switch-encendido: var(--color-base);
        --color-borde-switch: var(--color-base);
        --color-bola-switch: var(--color-base);
        --color-sombra-switch: var(--color-base);
        --color-letras-titulo: var(--color-base);
        --color-letras-subtitulo: var(--color-base);
        --color-letras-contenido: var(--color-base);
        --color-sombra-letras: var(--color-base);
        --color-mascara-foto: rgba(217,217,217,0.6);
        --color-sombra-mascara: var(--color-base);
        --color-fondo-foto: var(--color-base);
        --color-sombra-foto: var(--color-base);
        --color-fondo-cards: rgba(161,161,161,0.25);
        --color-sombra-cards: var(--color-base);
        --color-borde-cards: var(--color-base);
        --color-sombra-borde-cards: var(--color-base);
        --color-fondo-miniaturas: var(--color-base);
        --color-iconos-tecnologias: var(--color-base);
        --color-sombras-iconos-tecnologias: var(--color-base);
        --color-luz-cards: var(--color-base);
        --color-sombra-luz-cards: var(--color-base);
        --color-fondo-stack: rgba(161,161,161,0.25);
        --color-sombra-stack: var(--color-base);
        --color-borde-stack: var(--color-base);
        --color-iconos-stack: var(--color-base);
        --color-sombra-iconos-stack: var(--color-base);
        --color-separador-vertical: var(--color-base);
        --color-fondo-contacto: rgba(161,161,161,0.25);
        --color-sombra-contacto: var(--color-base);
        --color-borde-contacto: var(--color-base);
        --color-sombra-borde-contacto: var(--color-base);
        --color-input: rgb(164,164,164);
        --color-sombra-input: var(--color-base);
        --color-borde-input: var(--color-base);
        --color-sombra-borde-input: var(--color-base);
        --color-boton-enviar: rgba(161,161,161,0.25);
        --color-sombra-boton-enviar: var(--color-base);
        --color-borde-boton-enviar: var(--color-base);
        --color-sombra-borde-boton-enviar: var(--color-base);
        --color-luz-boton-enviar: var(--color-base);
        --color-sombra-luz-boton-enviar: var(--color-base);
        --color-iconos-contacto: var(--color-base);
        --color-sombra-iconos-contacto: var(--color-base);
        --color-fondo-pie: rgb(var(--color-base)/3%);
        --color-legal-pie: var(--color-base);
        --color-sombra-legal-pie: var(--color-base);
        --color-iconos-pie: var(--color-base);
        --color-sombra-iconos-pie: var(--color-base);
        --color-modal: rgba(161,161,161,0.25);
        --color-navbar-modal: rgb(var(--color-base)/3%);
        --color-enlaces-modal: var(--color-base);
        --color-sombra-enlaces-modal: var(--color-base);
        --color-boton-modal: rgb(164,164,164);
        --color-sombra-boton-modal: var(--color-base);
    }
}