/*------------------------------------------------------------------------IMPORTACIÓN DE FUENTES-------------------------------------------------------------------------------*/
@font-face {
    font-family: "BrunoAce";
    src: url("assets/fonts/BrunoAce-Regular.woff2") format("woff2");
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: "FunnelDisplay";
    src: url("assets/fonts/FunnelDisplay-Regular.woff2") format("woff2");
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: "FunnelDisplay";
    src: url("assets/fonts/FunnelDisplay-Bold.woff2") format("woff2");
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: "ShulphurPoint";
    src: url("assets/fonts/SulphurPoint-Regular.woff2") format("woff2");
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: "ShulphurPoint";
    src: url("assets/fonts/SulphurPoint-Light.woff2") format("woff2");
    font-display: swap;
    font-weight: 300;
}

/*------------------------------------------------------------------------VARIABLES GLOBALES-----------------------------------------------------------------------------------*/
:root{
    /*------------------COLORES---------------------------*/

    --color-base: rgb(255,255,255);
    --color-fondo: var(--color-base);
    --color-flechas: var(--color-base);
    --color-fondo-navbar: rgb(from var(--color-base) r g b /1%);
    --color-iconos-navbar: var(--color-base);
    --color-fondo-configuracion: rgb(from var(--color-base) r g b /1%);
    --color-iconos-configuracion: var(--color-base);
    --color-switch-apagado: rgb(177,177,177);
    --color-switch-encendido: rgb(0,0,0);
    --color-bola-switch: var(--color-base);
    --color-letras-titulo: var(--color-base);
    --color-letras-subtitulo: var(--color-base);
    --color-letras-contenido: var(--color-base);
    --color-mascara-foto: rgba(217,217,217,0.6);
    --color-fondo-foto: var(--color-base);
    --color-fondo-cards: rgba(161,161,161,0.25);
    --color-fondo-miniaturas: var(--color-base);
    --color-iconos-tecnologias: var(--color-base);
    --color-luz-cards: var(--color-base);
    --color-fondo-stack: rgba(161,161,161,0.25);
    --color-iconos-stack: var(--color-base);
    --color-separador-vertical: var(--color-base);
    --color-fondo-contacto: rgba(161,161,161,0.25);
    --color-input: rgb(164,164,164);
    --color-boton-enviar: rgba(161,161,161,0.25);
    --color-luz-boton-enviar: var(--color-base);
    --color-iconos-contacto: var(--color-base);
    --color-fondo-pie: rgb(from var(--color-base) r g b /3%);
    --color-legal-pie: var(--color-base);
    --color-iconos-pie: var(--color-base);
    --color-modal: rgba(161,161,161,0.25);
    --color-navbar-modal: rgb(from var(--color-base) r g b /3%);
    --color-enlaces-modal: var(--color-base);
    --color-boton-modal: rgb(164,164,164);

    /*------------------BORDES---------------------------*/

    --borde-navbar: 1px solid rgb(from var(--color-base) r g b /10%);
    --borde-configuracion: 2px solid var(--color-base);
    --borde-switch: 1px solid var(--color-base);
    --borde-cards: 2px solid var(--color-base);
    --borde-stack: 2px solid var(--color-base);
    --borde-contacto: 2px solid var(--color-base);
    --borde-input: 1px solid var(--color-base);
    --borde-boton-enviar: 2px solid var(--color-base);
    --borde-modal: 2px solid var(--color-base);
    --borde-boton-modal: 1px solid var(--color-base);

    /*------------------SOMBRAS---------------------------*/

    --sombra-flechas: 0px 0px 5px 10px rgb(from var(--color-base) r g b /30%);
    --sombra-navbar: 0px 0px 5px 3px rgb(from var(--color-base) r g b /5%) inset;
    --sombra-borde-navbar: 0px 0px 5px 10px rgb(from var(--color-base) r g b /30%);
    --sombra-iconos-navbar: 0 0 2px rgb(from var(--color-base) r g b /100%);
    --sombra-iconos-configuracion: 0 0 2px rgb(from var(--color-base) r g b /100%);
    --sombra-switch: 0px 0px 5px 5px rgb(from var(--color-base) r g b /30%);
    --sombra-letras: 0px 0px 5px 10px rgb(from var(--color-base) r g b /30%);
    --sombra-mascara: 0px 0px 5px 10px rgb(from var(--color-base) r g b /30%);
    --sombra-foto: 0px 0px 5px 10px rgb(from var(--color-base) r g b /30%);
    --sombra-cards: 0px 0px 5px 10px rgb(from var(--color-base) r g b /30%);
    --sombra-borde-cards: 0px 0px 5px 10px rgb(from var(--color-base) r g b /30%);
    --sombras-iconos-tecnologias: 0px 0px 5px 10px rgb(from var(--color-base) r g b /30%);
    --sombra-luz-cards: 0px 0px 5px 10px rgb(from var(--color-base) r g b /30%);
    --sombra-stack: 0px 0px 5px 10px rgb(from var(--color-base) r g b /30%);
    --sombra-iconos-stack: 0px 0px 5px 10px rgb(from var(--color-base) r g b /30%);
    --sombra-contacto: 0px 0px 5px 10px rgb(from var(--color-base) r g b /30%);
    --sombra-borde-contacto: 0px 0px 5px 10px rgb(from var(--color-base) r g b /30%);
    --sombra-input: 0px 0px 5px 10px rgb(from var(--color-base) r g b /30%);
    --sombra-borde-input: 0px 0px 5px 10px rgb(from var(--color-base) r g b /30%);
    --sombra-boton-enviar: 0px 0px 5px 10px rgb(from var(--color-base) r g b /30%);
    --sombra-borde-boton-enviar: 0px 0px 5px 10px rgb(from var(--color-base) r g b /30%);
    --sombra-luz-boton-enviar: 0px 0px 5px 10px rgb(from var(--color-base) r g b /30%);
    --sombra-iconos-contacto: 0px 0px 5px 10px rgb(from var(--color-base) r g b /30%);
    --sombra-legal-pie: 0px 0px 5px 10px rgb(from var(--color-base) r g b /30%);
    --sombra-iconos-pie: 0px 0px 5px 10px rgb(from var(--color-base) r g b /30%);
    --sombra-enlaces-modal: 0px 0px 5px 10px rgb(from var(--color-base) r g b /30%);
    --sombra-boton-modal: 0px 0px 5px 10px rgb(from var(--color-base) r g b /30%);

    /*------------------TAMAÑOS---------------------------*/

    --tamano-flechas: 60px;
    --tamano-icono-navbar: 48px;
    --tamano-icono-configuracion: 48px;
    --tamano-largo-switch: 40px;
    --tamano-alto-switch: 24px;
    --tamano-bola-switch: 18px;
    --tamano-icono-tecnologias: 24px;
    --tamano-luz: 3px;
    --tamano-punto-stack: 15px;
    --tamano-icono-stack: 32px;
    --tamano-largo-boton-enviar: 150px;
    --tamano-alto-boton-enviar: 50px;
    --tamano-icono-contacto: 32px;
    --tamano-largo-icono-accesibilidad: 88px;
    --tamano-alto-icono-accesibilidad: 31px;
    --tamano-boton-modal: 40px;

    /*------------------TEXTOS---------------------------*/

    --texto-pequeno: 0.75rem;
    --texto-contenido: 1rem;
    --texto-subtitulo: 1.5rem;
    --texto-titulo: 2rem;

    /*------------------ESCALAS---------------------------*/

    --escalado-reduccion: 0.95;
    --escalado-pequeno: 1.05;
    --escalado-medio: 1.1;
    --escalado-grande: 1.2;

    /*------------------RADIOS---------------------------*/

    --radio-mediano: 10px;
    --radio-grande: 20px;

    /*------------------MODO CLARO---------------------------*/
    
    &[data-theme="claro"]{
        --color-base: rgb(59,59,59);
        --color-switch-apagado: rgb(177,177,177);
        --color-switch-encendido: rgb(255,255,255);
        --color-mascara-foto: rgba(217,217,217,0.6);
        --color-fondo-cards: rgba(161,161,161,0.25);
        --color-fondo-stack: rgba(161,161,161,0.25);
        --color-fondo-contacto: rgba(161,161,161,0.25);
        --color-input: rgb(164,164,164);
        --color-boton-enviar: rgba(161,161,161,0.25);
        --color-modal: rgba(161,161,161,0.25);
        --color-boton-modal: rgb(164,164,164);
    }
}

/*------------------------------------------------------------------------RESET Y BASES-----------------------------------------------------------------------------------*/

html{
    scroll-behavior: smooth;

    &[data-theme="claro"] body::before{
        opacity: 1;
    }
}

@media (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto;
    }
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    min-height: 100vh;
    background-color: var(--color-fondo);
    background-image: url("assets/backgrounds/Fondo-negro.webp");
    background-size: 100% 100%;
    font-family: "ShulphurPoint";
    font-size: var(--texto-contenido);
    color: var(--color-letras-contenido);
    z-index: -2;

    &::before{
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 100%;
        background-color: var(--color-fondo);
        background-image: url("assets/backgrounds/Fondo-blanco.webp");
        background-size: 100% 100%;
        opacity: 0;
        transition: opacity 1s ease;
        z-index: -1;
    }

    h1{
        font-family: "BrunoAce";
        font-size: 8rem;
        color: var(--color-letras-titulo);
    }

    h2{
        font-family: "FunnelDisplay";
        font-size: var(--texto-titulo);
        font-weight: 700;
        color: var(--color-letras-titulo);
    }

    h3{
        font-family: "FunnelDisplay";
        font-size: var(--texto-subtitulo);
        font-weight: 700;
        color: var(--color-letras-subtitulo);
    }
}

/*------------------------------------------------------------------------CABECERA-----------------------------------------------------------------------------------*/

.cabecera{
    position: fixed;
    width: 100%;

    /*----------------------NAVBAR--------------------------*/

    .navbar{
        position: relative;
        height: 80px;
        background-color: var(--color-fondo-navbar);
        border: var(--borde-navbar);
        box-shadow: var(--sombra-navbar);
        backdrop-filter: blur(2px);

        &::before{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 10px;
            content: "";
            backdrop-filter: brightness(2) saturate(2) contrast(2);
        }

        &::after{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 10px;
            content: "";
            backdrop-filter: brightness(3) saturate(3) contrast(3);
        }

        .navbar-lista{
            display: flex;
            flex-direction: row;
            gap: 20px;
            place-items: center;
            height: 100%;
            padding: 20px;
            list-style: none;

            .navbar-elemento{
                width: var(--tamano-icono-navbar);
                height: var(--tamano-icono-navbar);

                .icono{
                    width: 100%;
                    aspect-ratio: 1;
                    stroke-width: 0.5px;
                    shape-rendering: geometricPrecision;
                    color: var(--color-iconos-navbar);
                }

                button{
                    width: 100%;
                    aspect-ratio: 1;
                    background: none;
                    border: none;
                    cursor: pointer;
                }

                &:hover{
                    transform-origin: center;
                    scale: var(--escalado-pequeno);

                    .icono use{
                        stroke-width: 1px;
                        filter: drop-shadow(var(--sombra-iconos-navbar));
                    }
                    
                }

                &:active{
                    scale: var(--escalado-reduccion);

                    .icono use{
                        stroke-width: 0.5px;
                        shape-rendering: geometricPrecision;
                        filter: none;
                    }
                }
            }

            .elemento-settings{
                margin-left: auto;          
            }
        }
    }

    /*----------------------EFECTO REFLEXIÓN--------------------------*/

    .caja-reflectora{
        position: fixed;
        width: 100%;
        height: 1px;
        backdrop-filter: brightness(3);
    }

    /*----------------------MENU OPCIONES--------------------------*/

    .configuracion-menu{
        /* height: 0; */
        position: fixed;
        top: 80px;
        right: 0px;
        left: auto;
        bottom: auto;
        background-color: var(--color-fondo-configuracion);
        border: var(--borde-configuracion);
        padding: 20px;
        backdrop-filter: blur(10px);
        
        .configuracion-lista{
            display: flex;
            flex-direction: column;
            gap: 10px;
            list-style: none;
            .configuracion-elemento{
                position: relative;
                display: flex;
                flex-direction: row;
                gap: 20px;
                place-items: center;
                .contenedor-iconos-configuracion{
                    position: relative;
                    width: var(--tamano-icono-configuracion);
                    height: var(--tamano-icono-configuracion);
                    .icono{
                        position: absolute;
                        width: 100%;
                        aspect-ratio: 1;
                        stroke-width: 0.5px;
                        shape-rendering: geometricPrecision;
                        color: var(--color-iconos-configuracion);
                        transition: opacity 0.6s ease;
                        &.encendido{
                            opacity: 0%;
                        }
                    }
                }
                .interruptor-cuerpo{
                    position: relative;
                    width: var(--tamano-largo-switch);
                    height: var(--tamano-alto-switch);
                    background-color: var(--color-switch-apagado);
                    border: var(--borde-switch);
                    border-radius: 20px;
                    cursor: pointer;
                    .interruptor-bola{
                        position: absolute;
                        top: 2px;
                        left: 2px;
                        width: var(--tamano-bola-switch);
                        aspect-ratio: 1;
                        background-color: var(--color-bola-switch);
                        border-radius: 50%;
                        transition: transform 0.6s ease;
                    }
                    &:hover{
                        box-shadow: var(--sombra-switch);
                    }
                }
                .interruptor-cuerpo:hover+.contenedor-iconos-configuracion{
                    .icono use{
                        stroke-width: 1px;
                        transform-origin: center;
                        scale: var(--escalado-pequeno);
                        filter: drop-shadow(var(--sombra-iconos-configuracion));
                    }
                }
                .interruptor-checkbox{
                    position: absolute;
                    left: 14px;
                    opacity: 0;
                    pointer-events: none;
                }
                .interruptor-checkbox:checked+.interruptor-cuerpo{
                    background-color: var(--color-switch-encendido);
                    .interruptor-bola{
                        transform: translateX(17px);
                    }
                }
                .interruptor-checkbox:checked~.contenedor-iconos-configuracion{
                    .encendido{
                        opacity: 100%;
                    }
                    .apagado{
                        opacity: 0%;
                    }
                }
            }
        }
    }
}

